# File sensitif
.env

# Direktori hasil build dan cache Foundry
cache/
out/

# Direktori dependensi (tambahan)
lib/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Log
*.log